body {
  background-color: #141a1f;
  color: white;
  height: 100vh;
}

main {
  width: 100%;
  height: 100vh;
  height: 500px;
  max-width: 1140px;
  margin: 0 auto;
}
main .menu-btn {
  display: block;
  height: 40px;
  width: 30px;
  cursor: pointer;
  margin: 0 auto;
  margin-top: 15px;
  padding: 10px 5px;
}
main .menu-btn .bar1,
main .menu-btn .bar2,
main .menu-btn .bar3 {
  width: 20px;
  height: 2px;
  background-color: white;
  margin: 6px auto;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.overlay {
  height: 0%;
  width: 80%;
  max-width: 1140px;
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  right: 0;
  top: 0;
  overflow: none;
  background-color: #141a1f; /* Black fallback color */
  background-color: #141a1f; /* Black w/opacity */
  overflow: hidden; /* Disable horizontal scroll */
  -webkit-transition: 0.5s;
  transition: 0.5s; /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
  margin: 0px auto;
  padding-top: 20px;
}
.overlay .top {
  width: 100%;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.overlay .top .closebtn {
  display: block;
  height: 40px;
  font-size: 40px;
  line-height: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-decoration: none;
  align-items: center;
  color: white;
}
.overlay header {
  width: 100%;
  height: 70px;
  padding: 0;
  margin-top: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border-bottom: 1px solid grey;
}
.overlay header .header_element {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 100%;
  margin-left: 70px;
}
.overlay header .header_element a {
  display: block;
  text-decoration: none;
  height: 100%;
  color: #818181;
  padding: 0 20px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 16px;
  font-weight: bold;
  -webkit-transition: 0.3s;
  transition: 0.3s; /* Transition effects on hover (color) */
}
.overlay header .header_element a:hover {
  color: #f1f1f1;
}
.overlay header .header_element:first-child {
  margin-left: 0;
}
.overlay header .active a {
  border-bottom: 2px solid #008cff;
  padding-top: 2px;
  height: calc(100% + 2px);
}
.overlay nav {
  width: 100%;
  height: auto;
  padding-bottom: 80px;
  border-bottom: 1px solid grey;
}
.overlay nav .grid-container {
  display: grid;
  grid-template-columns: auto auto;
  width: 650px;
  margin-left: 10px;
  margin-top: 50px;
  -webkit-column-gap: 50px;
  -moz-column-gap: 50px;
  column-gap: 50px;
}
.overlay nav .grid-container .grid-item {
  color: white;
  padding: 10px;
  font-size: 20px;
  text-align: left;
}
.overlay nav .grid-container .grid-item #sub-text {
  font-size: 16px;
  opacity: 0.7;
}
.overlay nav .grid-container #item2 {
  font-size: 12px;
  opacity: 0.7;
}
.overlay nav .grid-container #item1 {
  font-size: 25px;
}
.overlay nav .grid-container #item5,
.overlay nav .grid-container #item6 {
  grid-column-start: 2;
  grid-column-end: 2;
}

.overlay-content {
  position: relative;
  top: 25%; /* 25% from the top */
  width: 100%; /* 100% width */
  text-align: center; /* Centered text/links */
  margin-top: 30px;
}

button {
  display: block;
  color: white;
  background: #008cff;
  font-size: 16px;
  border: 5px;
  border-radius: 50px;
  padding: 10px 20px;
  margin: 40px auto;
}

/* Rotate first bar */
.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-9px, 6px);
}

/* Fade out the second bar */
.change .bar2 {
  opacity: 0;
}

/* Rotate last bar */
.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px);
}

/* When the height of the screen is less than 450 pixels, change the font-size of the links and position the close button again, so they don't overlap */
@media screen and (max-height: 450px) {
  .overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 20px;
    color: #818181;
    display: block; /* Display block instead of inline */
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }
  .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}